In [1]:
import pandas as pd

In [166]:
# 读取 Parquet 文件
label_train_source = pd.read_parquet('label_train_source.parquet', engine='pyarrow')
# 查看数据
print(label_train_source.head(10))

   session_id                           song_id  unix_played_at  play_status  \
0         751  6027767fad949f3ca5e772df04924949      1659598909            1
1         751  041547bddb0a3e730f32db84c65868ca      1659599182            1
2         751  041547bddb0a3e730f32db84c65868ca      1659599184            0
3         751  041547bddb0a3e730f32db84c65868ca      1659599185            0
4         751  8b32f88104ecf859be934d9b45f30cd1      1659599218            1
5         751  e4a125e3163e4c1bd40060614c79bd53      1659599219            1
6         751  8b32f88104ecf859be934d9b45f30cd1      1659599225            1
7         751  5ef6718f4517d2d3c316fc45226f41dc      1659599229            1
8         751  e4a125e3163e4c1bd40060614c79bd53      1659599252            0
9         751  041547bddb0a3e730f32db84c65868ca      1659599253            0

   login_type  listening_order
0           7                1
1           7                2
2           7                3
3           7                4
4           7                5
5           7                6
6           7                7
7           7                8
8           7                9
9           7               10

In [167]:
label_train_source

,session_id,song_id,unix_played_at,play_status,login_type,listening_order
0,751,6027767fad949f3ca5e772df04924949,1659598909,1,7,1
1,751,041547bddb0a3e730f32db84c65868ca,1659599182,1,7,2
2,751,041547bddb0a3e730f32db84c65868ca,1659599184,0,7,3
3,751,041547bddb0a3e730f32db84c65868ca,1659599185,0,7,4
4,751,8b32f88104ecf859be934d9b45f30cd1,1659599218,1,7,5
...,...,...,...,...,...,...
11445175,458622,3ba8c1e455e27172edec64deff3a8b15,1662339887,2,7,16
11445176,458622,3ba8c1e455e27172edec64deff3a8b15,1662340090,2,7,17
11445177,458622,3ba8c1e455e27172edec64deff3a8b15,1662340294,2,7,18
11445178,458622,3ba8c1e455e27172edec64deff3a8b15,1662340497,2,7,19
11445179,458622,3ba8c1e455e27172edec64deff3a8b15,1662340701,2,7,20

In [168]:
print(label_train_source.head(21))

    session_id                           song_id  unix_played_at  play_status  \
0          751  6027767fad949f3ca5e772df04924949      1659598909            1
1          751  041547bddb0a3e730f32db84c65868ca      1659599182            1
2          751  041547bddb0a3e730f32db84c65868ca      1659599184            0
3          751  041547bddb0a3e730f32db84c65868ca      1659599185            0
4          751  8b32f88104ecf859be934d9b45f30cd1      1659599218            1
5          751  e4a125e3163e4c1bd40060614c79bd53      1659599219            1
6          751  8b32f88104ecf859be934d9b45f30cd1      1659599225            1
7          751  5ef6718f4517d2d3c316fc45226f41dc      1659599229            1
8          751  e4a125e3163e4c1bd40060614c79bd53      1659599252            0
9          751  041547bddb0a3e730f32db84c65868ca      1659599253            0
10         751  e7efab54028017e35a35d1b1637e210c      1659599287            1
11         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599300            1
12         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599330            0
13         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599619            0
14         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599620            0
15         751  3f8e8cbe4b5d55f07ba4c7ddfab624b7      1659599621            0
16         751  a97177f0f37a2bae91d8e67831949392      1659599622            1
17         751  6027767fad949f3ca5e772df04924949      1659599640            0
18         751  6027767fad949f3ca5e772df04924949      1659599658            0
19         751  6027767fad949f3ca5e772df04924949      1659599683            0
20         867  883d4ffa999d2f7c8f5293d85112da49      1660789997            0

    login_type  listening_order
0            7                1
1            7                2
2            7                3
3            7                4
4            7                5
5            7                6
6            7                7
7            7                8
8            7                9
9            7               10
10           7               11
11           7               12
12           7               13
13           7               14
14           7               15
15           7               16
16           7               17
17           7               18
18           7               19
19           7               20
20           7                1

In [169]:
# 读取 Parquet 文件
label_train_target = pd.read_parquet('label_train_target.parquet', engine='pyarrow')

In [172]:
# 读取 Parquet 文件
meta_song_composer = pd.read_parquet('meta_song_composer.parquet', engine='pyarrow')
# 查看数据
print(meta_song_composer.head())

                            song_id                       composer_id
0  cdffd7270c86854d70d9475a1b5fa29f  bb78a094b2c1c2bfcb599690d0a34a75
1  8c8b365835227f50dd5058d89e42c675  61cf7925bbd9df77c0ad82250f990f91
2  dd10802f9920946e100f7e7e2a344e77  5438736174e7e946b3c701c9df8f7109
3  c6d491d202c50888e958dc90355e6832  af107e6808d25452b5bfa4641ff0f164
4  fb156641a27a3e9789b3cc07cf472514  2a769e2f05eac558307531ee0cb29646

合併 歌曲 跟 作者名稱

In [173]:
label_train_marge_target = pd.merge(label_train_target, meta_song_composer, on='song_id', how='left')

In [174]:
label_train_marge_target = label_train_marge_target.sort_values(by='session_id')

In [175]:
label_train_marge_target

,session_id,song_id,unix_played_at,play_status,login_type,listening_order,composer_id
350477,1,b186d853cb06ceba2bd56bcdc701b8aa,1660016531,0,7,21,NaN
350478,1,1071e128ee5f9e2a0f0be0aade025b39,1660016785,0,7,22,f742ead75064a3af74226f24d5f78bcf
350479,1,0100af68f3477f6bf724664d0b303f29,1660016791,0,7,23,6faf04c0b04065b82910865cb751b477
350480,1,22a696cede3609c20ba1bceb8de28032,1660016793,0,7,24,c3a62d64412029bc4c8a493dca1bebe6
350481,1,d6476892c926c88c7f232fd800b75845,1660016902,0,7,25,997440c2c8b92d898ff31bdcc2d6c28c
...,...,...,...,...,...,...,...
1799121,715323,0a696d765856a7b48bae85715cca06b2,1664707449,0,7,24,f4fb7e722337bb1cfe00d930a76a5e7e
1799120,715323,657cb54ed943148dc64f31b6de635591,1664707400,0,7,23,19df3d8f20342b611732f9a577d5c45e
1799119,715323,4dc776fa7a8db1bbe647e580e69dca9d,1664707201,0,7,22,NaN
1799118,715323,d7031cd298948b2ca63565965eb77111,1664707185,0,7,21,NaN
1799122,715323,5aba5f02d054be2c82483cd905eb79d2,1664707668,0,7,25,e97583f5ef44c6b3aa2f09f022a829cb

In [176]:
label_train_target

,session_id,song_id,unix_played_at,play_status,login_type,listening_order
0,307,75c2aa348888f982d85e3f870e6ba5b2,1659942029,1,8,21
1,307,0cab8863e5440551c7b37e59635ec18e,1659942032,1,8,22
2,307,4d5aceee5c9731151ca69f0946ffa71f,1659942175,1,8,23
3,307,929b07d69451684f4f0f6e3bcc2a62d6,1659942272,0,8,24
4,307,12ae4e616d3e5c7bd53ec771797f596b,1659942277,1,8,25
...,...,...,...,...,...,...
2861290,714580,55728030c86e1afb7aa4a31fee56d3b8,1666643323,0,7,21
2861291,714580,741590eee67a948a1b8b3a9ff60682bf,1666643442,0,7,22
2861292,714580,3c90623f4a5995b59a4f4d4eafcde4cc,1666643515,0,7,23
2861293,714580,4a3c3bf3793672422bc87ee280087315,1666643581,0,7,24
2861294,714580,1391865f18df82173c43a418b4fcc46f,1666643647,0,7,25

In [177]:
# 檢查在 meta_song_composer 中 song_id 的唯一值數量
unique_song_ids_in_meta = meta_song_composer['song_id'].nunique()
print(f"Unique song_id in meta_song_composer: {unique_song_ids_in_meta}")

# 檢查在 label_train_target 中 song_id 的唯一值數量
unique_song_ids_in_label = label_train_target['song_id'].nunique()
print(f"Unique song_id in label_train_target: {unique_song_ids_in_label}")

Unique song_id in meta_song_composer: 564047
Unique song_id in label_train_target: 351629

In [178]:
meta_song_composer_grouped = meta_song_composer.groupby('song_id')['composer_id'].agg(','.join).reset_index()

In [179]:
meta_song_composer_grouped

,song_id,composer_id
0,000049836b2e92a6a361e40d7f0c73db,6332fd0b340910590d9aa74404939e31
1,00005ee00af3e6bc97c0a694bae95728,001671395e35c98845d7be526865b0ac
2,00008cfd4308f6abae6136217bc95e32,bcc06ff2b90a91fc96bdf59923f85ddf
3,0000ad4b1f583e779b50728874dbc0b6,1a8a45bb4599917a18bad1c17060080c
4,0000b0be3f0fc3ba4e81d6b29f51e652,82a90a16d29219aed22ad27b8af92703
...,...,...
564042,ffff8a617e122d989a9024a9c09fd622,"4aa5713f4e3adbfaec364c39f7cf1c32,3dbc6b630c93b..."
564043,ffff96fdba1c0e16eef9564a12a5c951,"4682ac58f43291374404f6e951ecf5b8,0222a1528a969..."
564044,ffffcf62a064a729b55618a2648c6af0,100f0d0b8d840f318bf8fcaca3f888dd
564045,ffffe1b0071c87b3716f708f7066a22f,"8b572d615b475d091800d44bac8a10fa,45289f36f73c2..."
564046,ffffec8b691fb58debb2587b0e48c71f,db98aa9208b34aafa30194ad5e837196

In [180]:
label_train_marge_target = pd.merge(label_train_target, meta_song_composer_grouped, on='song_id', how='left')
label_train_source_marge =  pd.merge(label_train_source, meta_song_composer_grouped, on='song_id', how='left')
label_train_marge_target = label_train_marge_target.sort_values(by='session_id')
label_train_source_marge = label_train_source_marge.sort_values(by='session_id')

In [181]:
label_train_marge_target

,session_id,song_id,unix_played_at,play_status,login_type,listening_order,composer_id
270346,1,b186d853cb06ceba2bd56bcdc701b8aa,1660016531,0,7,21,NaN
270347,1,1071e128ee5f9e2a0f0be0aade025b39,1660016785,0,7,22,f742ead75064a3af74226f24d5f78bcf
270350,1,d6476892c926c88c7f232fd800b75845,1660016902,0,7,25,997440c2c8b92d898ff31bdcc2d6c28c
270349,1,22a696cede3609c20ba1bceb8de28032,1660016793,0,7,24,c3a62d64412029bc4c8a493dca1bebe6
270348,1,0100af68f3477f6bf724664d0b303f29,1660016791,0,7,23,6faf04c0b04065b82910865cb751b477
...,...,...,...,...,...,...,...
1385426,715323,4dc776fa7a8db1bbe647e580e69dca9d,1664707201,0,7,22,NaN
1385427,715323,657cb54ed943148dc64f31b6de635591,1664707400,0,7,23,19df3d8f20342b611732f9a577d5c45e
1385429,715323,5aba5f02d054be2c82483cd905eb79d2,1664707668,0,7,25,e97583f5ef44c6b3aa2f09f022a829cb
1385425,715323,d7031cd298948b2ca63565965eb77111,1664707185,0,7,21,NaN
1385428,715323,0a696d765856a7b48bae85715cca06b2,1664707449,0,7,24,f4fb7e722337bb1cfe00d930a76a5e7e

In [182]:
label_train_source_marge

,session_id,song_id,unix_played_at,play_status,login_type,listening_order,composer_id
10952325,1,1cbcc681ecf7acef4948bff2eb8e39d7,1660015850,0,7,10,43a5a3c83c94631067566448be146a05
10952317,1,7b48a87effd31c9c07b68ed212062854,1660012730,0,7,2,NaN
10952316,1,f6f06a71bb8bc38af6c0b7dae9cab00d,1660012505,0,7,1,e6ca51ca67d412fbdbab216f3991df0b
10952335,1,824c159701c8553b0e38f0d36ddd6197,1660016310,0,7,20,NaN
10952334,1,7bb8fadfc8f2bf145f4b29a0325fe79a,1660016101,0,7,19,2c24a5c3b67f39e38d08aef6197e26c3
...,...,...,...,...,...,...,...
3567684,715323,e993d4f2047514dc091d11fbd1784160,1664702097,1,7,1,576ec43b11e2187abf60b2152b680975
3567700,715323,4c8a29c6fb363a1531a944fb978c4a0b,1664706665,0,7,17,"c5e9abe2eadd707c66eb86c52a965e63,e83a64d846a8d..."
3567701,715323,88c2975000726c4c9f21fba913dab088,1664706929,0,7,18,"8557ca32614b3324875075e98a52d0d2,2b3ab133c9d8c..."
3567696,715323,4c53d96a881cff9d373e686219479cb8,1664705976,0,7,13,4d0a36c511f678b42e7a0acabcecc2a9
3567703,715323,39415742a9ed09a9f85ea755c676be9a,1664707182,0,7,20,NaN

In [183]:
print(len(label_train_marge_target), len(label_train_target) , len(label_train_source_marge))

2861295 2861295 11445180

繼續讀檔案

In [184]:
# 读取 Parquet 文件
meta_song_genre = pd.read_parquet('meta_song_genre.parquet', engine='pyarrow')
# 查看数据
print(meta_song_genre.head())

                            song_id                          genre_id
0  7366ba2acd92eb262191bdaedf249462  b856b6781d370a3645c6dde0c20b3597
1  0b016dad8634acec9d9156d75c3ca568  2eabe9f164346c7b3ff1bd23078f483e
2  0145eadf202d4c7305aec592f7b9a50b  bb3d7b04b67d5aeb5ab145bdd70750da
3  7380f3306b88887be62fabdfc18925c9  b856b6781d370a3645c6dde0c20b3597
4  0006518b7b5daceacc4acf0c3f2843b8  2eabe9f164346c7b3ff1bd23078f483e

In [185]:
meta_song_genre

                                  song_id                          genre_id
0        7366ba2acd92eb262191bdaedf249462  b856b6781d370a3645c6dde0c20b3597
1        0b016dad8634acec9d9156d75c3ca568  2eabe9f164346c7b3ff1bd23078f483e
2        0145eadf202d4c7305aec592f7b9a50b  bb3d7b04b67d5aeb5ab145bdd70750da
3        7380f3306b88887be62fabdfc18925c9  b856b6781d370a3645c6dde0c20b3597
4        0006518b7b5daceacc4acf0c3f2843b8  2eabe9f164346c7b3ff1bd23078f483e
...                                   ...                               ...
1161950  fae89ce7d4c4afe996b82ba0f14cd024  65aeeca3341ca1c6a2ed774aa4e22add
1161951  6ae20625078e15fdbe516c6f03fb7521  1d7c8bb87dcc1457ed90240c06f9ebdf
1161952  16ce1c2ec0f86418f9b37a45d7a7f1d0  b856b6781d370a3645c6dde0c20b3597
1161953  82c57ad358fa3bbf71080b53588dc6cb  6ea61b86b8fff0e3a05bc73ea4eaf21f
1161954  2e3f90811704ea00c940ca66c3121b3c  6ea61b86b8fff0e3a05bc73ea4eaf21f

[1161955 rows x 2 columns]

再合併

In [186]:
test = pd.merge(label_train_marge_target, meta_song_genre, on='song_id', how='left')
test = test.sort_values(by='session_id')
print(len(label_train_marge_target), len(test) ,len(label_train_target))


test = pd.merge(label_train_source_marge, meta_song_genre, on='song_id', how='left')
test = test.sort_values(by='session_id')
print(len(label_train_source_marge), len(test) ,len(label_train_source))

2861295 4050969 2861295
11445180 16221183 11445180

又有問題了... 看來有多個流派，這邊改做 one hot

In [187]:
genre_id_to_name = {
    "5f2a134d2289a8a3de6663ee8e248c8a": "Soundtrack",
    "bb737ea7450c3abbab1ff613a2c6309e": "Hip-Hop/Rap",
    "d9ab2ffb929a854e208efaf5297b7cf8": "Jazz",
    "1d7c8bb87dcc1457ed90240c06f9ebdf": "Electronic/Dance",
    "7ed5eec2ea6f0208d27f78ef120e52fa": "Instrumental",
    "157479e86322e5063bce2488bec94d88": "Classical",
    "ed514a72b48a9d15df7bc4c25eac2c67": "World",
    "65aeeca3341ca1c6a2ed774aa4e22add": "Children",
    "74694a488312db91fcd56818fed8b3a6": "Oldies",
    "a3b51d979053a7f49511b9ab72ee8878": "Other",
    "5d7d428b81ab3429f189bbc642548b53": "Games/Comic/Anime",
    "1619db5683958ba19927468990d5ba44": "Lounge",
    "d36204de09c0c6084d55b1f484a23773": "Spiritual",
    "ee1696df08c0ac6005e3b9442cdbbded": "Religious",
    "abdc0a50aff67c591737bc6f57a36e09": "R&B/Soul",
    "1a619fcf3adfd91711699b7e2cf2c367": "Spoken Word",
    "2eabe9f164346c7b3ff1bd23078f483e": "Rock/Alternative",
    "03c358e326d99a3863e044c5d8e9fb50": "Blues",
    "09994f2b6bf22721e7379df4e22b1041": "Country",
    "d48233dd673e7ba524a5a0e3389d39b9": "Reggae",
    "a2a4a0943fe2c5fe6891d9c34dca906f": "Alternative",
    "c1d8909eff8a140e7bd0c11508f76dbe": "Folk",
    "b856b6781d370a3645c6dde0c20b3597": "Pop",
    "398e2d0befb1c6979e77e5ff7c3fcf07": "Holiday",
    "b5e874310bf96c3fe29c54a01b982ad7": "Enka",
    "23ae47469cc0a10de43c453ab59c87b4": "Christian/Gospel",
    "c3ad773a264597f9f46c2d666e1a8b50": "Audiobook",
    "5455e1699025b025a3523aba4719e818": "Audiobook-Children's & Teenage",
    "f6f02545c1905a8c72c5bf006579996e": "Audiobook-Education"
}

In [188]:
meta_song_genre['genre_id'] = meta_song_genre['genre_id'].map(genre_id_to_name)

In [189]:
# 對 genre_id 進行 one-hot 編碼
dummies = pd.get_dummies(meta_song_genre['genre_id'])

In [190]:
# 將 one-hot 編碼的結果與原始 DataFrame 合併
meta_song_genre_one_hot = pd.concat([meta_song_genre['song_id'], dummies], axis=1)

# 根據 song_id 聚合，將所有相同 song_id 的行的 one-hot 編碼值相加
meta_song_genre_grouped = meta_song_genre_one_hot.groupby('song_id').sum().reset_index()

In [191]:
meta_song_genre_grouped.columns

Index(['song_id', 'Alternative', 'Audiobook', 'Audiobook-Children's & Teenage',
       'Audiobook-Education', 'Blues', 'Children', 'Christian/Gospel',
       'Classical', 'Country', 'Electronic/Dance', 'Enka', 'Folk',
       'Games/Comic/Anime', 'Hip-Hop/Rap', 'Holiday', 'Instrumental', 'Jazz',
       'Lounge', 'Oldies', 'Other', 'Pop', 'R&B/Soul', 'Reggae', 'Religious',
       'Rock/Alternative', 'Soundtrack', 'Spiritual', 'Spoken Word', 'World'],
      dtype='object')

In [192]:
meta_song_genre_grouped

,song_id,Alternative,Audiobook,Audiobook-Children's & Teenage,Audiobook-Education,Blues,Children,Christian/Gospel,Classical,Country,...,Other,Pop,R&B/Soul,Reggae,Religious,Rock/Alternative,Soundtrack,Spiritual,Spoken Word,World
0,00002d2ddb6c789bcb8ef14f52339e39,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,000049836b2e92a6a361e40d7f0c73db,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00005d588ff5b96c84556f17b716e227,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00005ee00af3e6bc97c0a694bae95728,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,000067e6edb45097956ee81bbd1edb63,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706791,ffffb17f494477ddef244df20d662e01,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
706792,ffffc0ee02f3fac2b4a10ed7a6c3423f,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
706793,ffffcf62a064a729b55618a2648c6af0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
706794,ffffe1b0071c87b3716f708f7066a22f,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
706795,ffffec8b691fb58debb2587b0e48c71f,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [193]:
test = pd.merge(label_train_marge_target, meta_song_genre_grouped, on='song_id', how='left')
test = test.sort_values(by='session_id')
print(len(label_train_marge_target), len(test) ,len(label_train_target))


test = pd.merge(label_train_source_marge, meta_song_genre_grouped, on='song_id', how='left')
test = test.sort_values(by='session_id')
print(len(label_train_source_marge), len(test) ,len(label_train_source))

2861295 2861295 2861295
11445180 11445180 11445180

In [194]:
label_train_marge_target = pd.merge(label_train_marge_target, meta_song_genre_grouped, on='song_id', how='left')
label_train_marge_target = label_train_marge_target.sort_values(by='session_id')
print(len(label_train_marge_target), len(test) ,len(label_train_target))


label_train_source_marge = pd.merge(label_train_source_marge, meta_song_genre_grouped, on='song_id', how='left')
label_train_source_marge = label_train_source_marge.sort_values(by='session_id')
print(len(label_train_source_marge), len(test) ,len(label_train_source))

2861295 11445180 2861295
11445180 11445180 11445180

In [195]:
label_train_marge_target

,session_id,song_id,unix_played_at,play_status,login_type,listening_order,composer_id,Alternative,Audiobook,Audiobook-Children's & Teenage,...,Other,Pop,R&B/Soul,Reggae,Religious,Rock/Alternative,Soundtrack,Spiritual,Spoken Word,World
0,1,b186d853cb06ceba2bd56bcdc701b8aa,1660016531,0,7,21,NaN,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,1071e128ee5f9e2a0f0be0aade025b39,1660016785,0,7,22,f742ead75064a3af74226f24d5f78bcf,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,d6476892c926c88c7f232fd800b75845,1660016902,0,7,25,997440c2c8b92d898ff31bdcc2d6c28c,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,22a696cede3609c20ba1bceb8de28032,1660016793,0,7,24,c3a62d64412029bc4c8a493dca1bebe6,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0100af68f3477f6bf724664d0b303f29,1660016791,0,7,23,6faf04c0b04065b82910865cb751b477,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2861292,715323,5aba5f02d054be2c82483cd905eb79d2,1664707668,0,7,25,e97583f5ef44c6b3aa2f09f022a829cb,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2861293,715323,d7031cd298948b2ca63565965eb77111,1664707185,0,7,21,NaN,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2861290,715323,4dc776fa7a8db1bbe647e580e69dca9d,1664707201,0,7,22,NaN,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2861291,715323,657cb54ed943148dc64f31b6de635591,1664707400,0,7,23,19df3d8f20342b611732f9a577d5c45e,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2861294,715323,0a696d765856a7b48bae85715cca06b2,1664707449,0,7,24,f4fb7e722337bb1cfe00d930a76a5e7e,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [196]:
label_train_source_marge

,session_id,song_id,unix_played_at,play_status,login_type,listening_order,composer_id,Alternative,Audiobook,Audiobook-Children's & Teenage,...,Other,Pop,R&B/Soul,Reggae,Religious,Rock/Alternative,Soundtrack,Spiritual,Spoken Word,World
0,1,1cbcc681ecf7acef4948bff2eb8e39d7,1660015850,0,7,10,43a5a3c83c94631067566448be146a05,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,1,61c46d6401aab1dde7c7de23dc55c037,1660015113,0,7,3,"a23f78784291a8a1961b94c74af71d6f,4cb96a84bd5f2...",0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1,7035839edc259dcad4b1632d10eded74,1660015853,0,7,12,73c6f657bc42ba7fb2eb3201b991ba9f,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1,7e54c9199aad70e35fe256d23701bad0,1660015289,0,7,4,4a90c1cc32022972a4a548196860a198,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1,6178580fa01b62e9b52787902c0d8ae6,1660015841,0,7,5,"8339e32d8d7318a235b7be50229fb765,8f209f719d305...",0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11445161,715323,9c6ce0c23159646a6acf5dd8e9f39a19,1664707129,0,7,19,f4fb7e722337bb1cfe00d930a76a5e7e,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11445160,715323,65a4fa6c28e6c640c30bb9567ec07358,1664706490,0,7,16,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11445178,715323,4c53d96a881cff9d373e686219479cb8,1664705976,0,7,13,4d0a36c511f678b42e7a0acabcecc2a9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11445168,715323,03ef6a308051b6a56e666f4bf549ba63,1664704903,0,7,8,"ee9de6deb14a0638ece17d97aace91d1,51f5c5c733dcc...",0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11445179,715323,39415742a9ed09a9f85ea755c676be9a,1664707182,0,7,20,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

再次讀資料，作詞

In [197]:
# 读取 Parquet 文件
meta_song_lyricist = pd.read_parquet('meta_song_lyricist.parquet', engine='pyarrow')
# 查看数据
print(meta_song_lyricist.head())

                            song_id                       lyricist_id
0  7ab2135e7adea0240481d05b2dde05fd  0fd54fc58fce7f7c6c3af31f96f4f0c3
1  859a8f3a0a264c2989ae5e620bcebb42  b82de1a79e4a8f09add9901c3c51ac03
2  abc6c8d81d6cdef85c3c037c8ea33fc0  54eeee7e4899566d811c9188ebc8f610
3  1c9772200604eca0e241175f4a686818  d9e551616be4a2c4c59e49e2bdf4a98c
4  58e005a3e6cd83e55bb09af03b16bc83  660ac057fad4ef9f744fafcdb48f0bad

In [198]:
meta_song_lyricist_grouped = meta_song_lyricist.groupby('song_id')['lyricist_id'].agg(','.join).reset_index()

In [199]:
meta_song_lyricist_grouped

,song_id,lyricist_id
0,000049836b2e92a6a361e40d7f0c73db,2dab01a89144cd0c26308c97f5a1d2ed
1,0000b0be3f0fc3ba4e81d6b29f51e652,b7ea1a955a823abb697cca5d360e33a5
2,0000c15be07f34a6f73826a9587c683d,d72009cd1011f7eefdd12843b3632b36
3,0000d5553f04428ebf2fbd360a676c83,"c47a60595c7cb2b700f618423e007c24,cb9e69b2019de..."
4,00014c3e25af09b2bb3052e3992f0dee,7dc88a330d89e8e65c9c602fa880cd6a
...,...,...
339073,ffff101e60209b8675f8cc108881a3c4,"6d8fad224cf24bacacc760baa9ac8eb0,1cc685af6ec7f..."
339074,ffff75d16a7bb9de10f6c1d187ae6392,"6282fd435b8cd1ddfdd4188e48bb0729,8f4d5c59fd109..."
339075,ffff8a617e122d989a9024a9c09fd622,"b7254333e55edcc707e7378b0a78835f,f55885769c053..."
339076,ffffcf62a064a729b55618a2648c6af0,100f0d0b8d840f318bf8fcaca3f888dd
339077,ffffec8b691fb58debb2587b0e48c71f,db98aa9208b34aafa30194ad5e837196

In [200]:
test = pd.merge(label_train_marge_target, meta_song_lyricist_grouped, on='song_id', how='left')
test = test.sort_values(by='session_id')
print(len(label_train_marge_target), len(test) ,len(label_train_target))


test = pd.merge(label_train_source_marge, meta_song_lyricist_grouped, on='song_id', how='left')
test = test.sort_values(by='session_id')
print(len(label_train_source_marge), len(test) ,len(label_train_source))

2861295 2861295 2861295
11445180 11445180 11445180

In [201]:
label_train_marge_target = pd.merge(label_train_marge_target, meta_song_lyricist_grouped, on='song_id', how='left')
label_train_marge_target = label_train_marge_target.sort_values(by='session_id')
print(len(label_train_marge_target), len(test) ,len(label_train_target))


label_train_source_marge = pd.merge(label_train_source_marge, meta_song_lyricist_grouped, on='song_id', how='left')
label_train_source_marge = label_train_source_marge.sort_values(by='session_id')
print(len(label_train_source_marge), len(test) ,len(label_train_source))

2861295 11445180 2861295
11445180 11445180 11445180

In [202]:
label_train_target

,session_id,song_id,unix_played_at,play_status,login_type,listening_order
0,307,75c2aa348888f982d85e3f870e6ba5b2,1659942029,1,8,21
1,307,0cab8863e5440551c7b37e59635ec18e,1659942032,1,8,22
2,307,4d5aceee5c9731151ca69f0946ffa71f,1659942175,1,8,23
3,307,929b07d69451684f4f0f6e3bcc2a62d6,1659942272,0,8,24
4,307,12ae4e616d3e5c7bd53ec771797f596b,1659942277,1,8,25
...,...,...,...,...,...,...
2861290,714580,55728030c86e1afb7aa4a31fee56d3b8,1666643323,0,7,21
2861291,714580,741590eee67a948a1b8b3a9ff60682bf,1666643442,0,7,22
2861292,714580,3c90623f4a5995b59a4f4d4eafcde4cc,1666643515,0,7,23
2861293,714580,4a3c3bf3793672422bc87ee280087315,1666643581,0,7,24
2861294,714580,1391865f18df82173c43a418b4fcc46f,1666643647,0,7,25

In [203]:
label_train_source_marge

,session_id,song_id,unix_played_at,play_status,login_type,listening_order,composer_id,Alternative,Audiobook,Audiobook-Children's & Teenage,...,Pop,R&B/Soul,Reggae,Religious,Rock/Alternative,Soundtrack,Spiritual,Spoken Word,World,lyricist_id
0,1,1cbcc681ecf7acef4948bff2eb8e39d7,1660015850,0,7,10,43a5a3c83c94631067566448be146a05,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,43a5a3c83c94631067566448be146a05
19,1,420af27f7145b4eebeec566c0fa7a4c1,1660015855,0,7,13,"9695b739fb187115e09670526419445a,cf041dec4535b...",0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
18,1,7b48a87effd31c9c07b68ed212062854,1660012730,0,7,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1,f6f06a71bb8bc38af6c0b7dae9cab00d,1660012505,0,7,1,e6ca51ca67d412fbdbab216f3991df0b,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
16,1,824c159701c8553b0e38f0d36ddd6197,1660016310,0,7,20,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11445161,715323,33264e9c61fdf7439faf966c0d6c34fa,1664704027,2,7,4,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
11445160,715323,7e5fb926f61f7483c543fe2a274e075b,1664704290,0,7,5,NaN,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
11445178,715323,03ef6a308051b6a56e666f4bf549ba63,1664704903,0,7,8,"ee9de6deb14a0638ece17d97aace91d1,51f5c5c733dcc...",0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,"ee9de6deb14a0638ece17d97aace91d1,51f5c5c733dcc..."
11445168,715323,da0fe7ccc7cc9f190f6632098ae1dddb,1664704714,0,7,7,"193aaef208608a312f2829f51f802ad3,4ada0646024c0...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4ada0646024c07110038a3d15eb211de,193aaef208608..."
11445179,715323,39415742a9ed09a9f85ea755c676be9a,1664707182,0,7,20,NaN,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

讀取監做

In [204]:
# 读取 Parquet 文件
meta_song_producer = pd.read_parquet('meta_song_producer.parquet', engine='pyarrow')
# 查看数据
print(meta_song_producer.head())

                            song_id                       producer_id
0  84ec2c28a1478f537454b0e5d4114852  c321a7e010cc365c565e0c553ef97d4f
1  f58925f244003b684f4e9f6ec54f2475  6655fd5fe3c990356e310c3049bb32d8
2  63c7faa313937a713b6a9bb5b75e499e  16efccf3392ee6ab121ee695c3e5ce80
3  7dbd2f40884a81018dd124a91b93ee7e  80cb20377c0a42b7f3ccdb1490091abf
4  eccf0e4356b9e9e27b3c6ee2fd5b365f  4a0783e12fea55eb6b85fecba8aec150

In [205]:
meta_song_producer_grouped = meta_song_producer.groupby('song_id')['producer_id'].agg(','.join).reset_index()

In [206]:
test = pd.merge(label_train_marge_target, meta_song_producer_grouped, on='song_id', how='left')
test = test.sort_values(by='session_id')
print(len(label_train_marge_target), len(test) ,len(label_train_target))


test = pd.merge(label_train_source_marge, meta_song_producer_grouped, on='song_id', how='left')
test = test.sort_values(by='session_id')
print(len(label_train_source_marge), len(test) ,len(label_train_source))

2861295 2861295 2861295
11445180 11445180 11445180

In [207]:
label_train_marge_target = pd.merge(label_train_marge_target, meta_song_producer_grouped, on='song_id', how='left')
label_train_marge_target = label_train_marge_target.sort_values(by='session_id')
print(len(label_train_marge_target), len(test) ,len(label_train_target))


label_train_source_marge = pd.merge(label_train_source_marge, meta_song_producer_grouped, on='song_id', how='left')
label_train_source_marge = label_train_source_marge.sort_values(by='session_id')
print(len(label_train_source_marge), len(test) ,len(label_train_source))

2861295 11445180 2861295
11445180 11445180 11445180

沒有文字細節，這一個跳過

In [208]:
# 读取 Parquet 文件
meta_song_titletext = pd.read_parquet('meta_song_titletext.parquet', engine='pyarrow')
# 查看数据
print(meta_song_titletext.head())

                            song_id                     title_text_id
0  40985b01760119571bb9d9d6a44e003d  9cc814abf8f2edfe616f36934986c81b
1  67e88ec980c60a4774243f12a6505d8c  51da6f7499addd8acb161d03cb7b87a0
2  1f3b644b4aa4f0a6273c22711e585494  c1079ef109db2aba72f78c632ab73803
3  948db75f718d788e4da02a365b4673af  c1079ef109db2aba72f78c632ab73803
4  00f259930c0454a942bb45a63620b639  bafe4ea3c99161d13843b345569a6d1a

歌曲描述

In [209]:
# 读取 Parquet 文件
meta_song = pd.read_parquet('meta_song.parquet', engine='pyarrow')
# 查看数据
print(meta_song.head())

                            song_id  artist_id  song_length  album_id  \
0  10a46165bb84e056438e06c35763ee61       39.0        202.0     202.0
1  ff025522d0f8e7198a75a4e03edce55c      133.0        278.0    9615.0
2  7feec55b825a1c93d55b3ef9af9f9be5     4147.0        306.0   19017.0
3  ed8b14c6d0fccd1a95f9140933f809f3      114.0        263.0   21059.0
4  2ce5e96e0213a6dac83c54b003418726      112.0        194.0   22531.0

   language_id album_month
0          3.0     2000-01
1          3.0     1995-01
2          3.0     2015-06
3          3.0     1989-01
4          3.0     2003-01

In [210]:
# 建立 language_id 到語言描述的映射字典
language_id_to_name = {
    3: "Mandarin",
    10: "Hokkien",
    17: "Japanese",
    24: "Cantonese",
    31: "Korean",
    38: "Tamil/Hindi",
    45: "Thai",
    52: "Western",
    59: "Malay/Indo",
    60: "Hakka",
    61: "Indigenous Language",
    62: "English",
    69: "Vietnamese"
}

# 使用 map 函數替換 language_id
meta_song['language_id'] = meta_song['language_id'].map(language_id_to_name)

# 顯示更新後的 DataFrame
meta_song

,song_id,artist_id,song_length,album_id,language_id,album_month
0,10a46165bb84e056438e06c35763ee61,39.0,202.0,202.0,Mandarin,2000-01
1,ff025522d0f8e7198a75a4e03edce55c,133.0,278.0,9615.0,Mandarin,1995-01
2,7feec55b825a1c93d55b3ef9af9f9be5,4147.0,306.0,19017.0,Mandarin,2015-06
3,ed8b14c6d0fccd1a95f9140933f809f3,114.0,263.0,21059.0,Mandarin,1989-01
4,2ce5e96e0213a6dac83c54b003418726,112.0,194.0,22531.0,Mandarin,2003-01
...,...,...,...,...,...,...
1030707,2e317504e175c1c6d18fa47b21b1a7f5,NaN,NaN,NaN,NaN,None
1030708,60f94d53d47ff60130924a320345b8f1,NaN,NaN,NaN,NaN,None
1030709,2c7c7dd5713f93222429a5f05732de3b,NaN,NaN,NaN,NaN,None
1030710,04e7a4fa2804ff363cf985fb83ac5d82,NaN,NaN,NaN,NaN,None
1030711,ade4aadba92824137d5abf61c477e437,NaN,NaN,NaN,NaN,None

一樣做 onehot

In [211]:
dummies = pd.get_dummies(meta_song['language_id'])

In [212]:
# 將 one-hot 編碼的結果與原始 DataFrame 合併
meta_song_one_hot = pd.concat([meta_song['song_id'], dummies], axis=1)

# 根據 song_id 聚合，將所有相同 song_id 的行的 one-hot 編碼值相加
meta_song_one_hot_grouped = meta_song_one_hot.groupby('song_id').sum().reset_index()

In [213]:
meta_song_one_hot_grouped

,song_id,Cantonese,English,Hakka,Hokkien,Indigenous Language,Japanese,Korean,Malay/Indo,Mandarin,Tamil/Hindi,Thai,Vietnamese,Western
0,00002d2ddb6c789bcb8ef14f52339e39,0,0,0,0,0,1,0,0,0,0,0,0,0
1,000049836b2e92a6a361e40d7f0c73db,0,0,0,0,0,1,0,0,0,0,0,0,0
2,00005d588ff5b96c84556f17b716e227,0,1,0,0,0,0,0,0,0,0,0,0,0
3,00005ee00af3e6bc97c0a694bae95728,0,1,0,0,0,0,0,0,0,0,0,0,0
4,000067e6edb45097956ee81bbd1edb63,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030707,ffffb17f494477ddef244df20d662e01,0,0,0,0,0,1,0,0,0,0,0,0,0
1030708,ffffc0ee02f3fac2b4a10ed7a6c3423f,0,0,0,0,0,0,1,0,0,0,0,0,0
1030709,ffffcf62a064a729b55618a2648c6af0,0,0,0,0,0,1,0,0,0,0,0,0,0
1030710,ffffe1b0071c87b3716f708f7066a22f,0,0,0,0,0,1,0,0,0,0,0,0,0
1030711,ffffec8b691fb58debb2587b0e48c71f,0,0,0,0,0,0,0,0,1,0,0,0,0

In [214]:
Unique_meta_song_one_hot_grouped = meta_song_one_hot_grouped['song_id'].nunique()
print(f"Unique song_id in meta_song_composer: {Unique_meta_song_one_hot_grouped}")

Unique song_id in meta_song_composer: 1030712

In [216]:
test = pd.merge(label_train_marge_target, meta_song_one_hot_grouped, on='song_id', how='left')
test = test.sort_values(by='session_id')
print(len(label_train_marge_target), len(test) ,len(label_train_target))


test = pd.merge(label_train_source_marge, meta_song_one_hot_grouped, on='song_id', how='left')
test = test.sort_values(by='session_id')
print(len(label_train_source_marge), len(test) ,len(label_train_source))

2861295 2861295 2861295
11445180 11445180 11445180

In [217]:
label_train_marge_target = pd.merge(label_train_marge_target, meta_song_one_hot_grouped, on='song_id', how='left')
label_train_marge_target = label_train_marge_target.sort_values(by='session_id')
print(len(label_train_marge_target), len(test) ,len(label_train_target))


label_train_source_marge = pd.merge(label_train_source_marge, meta_song_one_hot_grouped, on='song_id', how='left')
label_train_source_marge = label_train_source_marge.sort_values(by='session_id')
print(len(label_train_source_marge), len(test) ,len(label_train_source))

2861295 11445180 2861295
11445180 11445180 11445180

看看現在的資料表長什麼樣

In [218]:
label_train_marge_target

,session_id,song_id,unix_played_at,play_status,login_type,listening_order,composer_id,Alternative,Audiobook,Audiobook-Children's & Teenage,...,Hokkien,Indigenous Language,Japanese,Korean,Malay/Indo,Mandarin,Tamil/Hindi,Thai,Vietnamese,Western
0,1,b186d853cb06ceba2bd56bcdc701b8aa,1660016531,0,7,21,NaN,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
1,1,1071e128ee5f9e2a0f0be0aade025b39,1660016785,0,7,22,f742ead75064a3af74226f24d5f78bcf,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2,1,d6476892c926c88c7f232fd800b75845,1660016902,0,7,25,997440c2c8b92d898ff31bdcc2d6c28c,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
3,1,22a696cede3609c20ba1bceb8de28032,1660016793,0,7,24,c3a62d64412029bc4c8a493dca1bebe6,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
4,1,0100af68f3477f6bf724664d0b303f29,1660016791,0,7,23,6faf04c0b04065b82910865cb751b477,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2861292,715323,4dc776fa7a8db1bbe647e580e69dca9d,1664707201,0,7,22,NaN,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
2861293,715323,657cb54ed943148dc64f31b6de635591,1664707400,0,7,23,19df3d8f20342b611732f9a577d5c45e,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2861290,715323,5aba5f02d054be2c82483cd905eb79d2,1664707668,0,7,25,e97583f5ef44c6b3aa2f09f022a829cb,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
2861291,715323,d7031cd298948b2ca63565965eb77111,1664707185,0,7,21,NaN,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,1
2861294,715323,0a696d765856a7b48bae85715cca06b2,1664707449,0,7,24,f4fb7e722337bb1cfe00d930a76a5e7e,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0

In [219]:
label_train_marge_target.columns

Index(['session_id', 'song_id', 'unix_played_at', 'play_status', 'login_type',
       'listening_order', 'composer_id', 'Alternative', 'Audiobook',
       'Audiobook-Children's & Teenage', 'Audiobook-Education', 'Blues',
       'Children', 'Christian/Gospel', 'Classical', 'Country',
       'Electronic/Dance', 'Enka', 'Folk', 'Games/Comic/Anime', 'Hip-Hop/Rap',
       'Holiday', 'Instrumental', 'Jazz', 'Lounge', 'Oldies', 'Other', 'Pop',
       'R&B/Soul', 'Reggae', 'Religious', 'Rock/Alternative', 'Soundtrack',
       'Spiritual', 'Spoken Word', 'World', 'lyricist_id', 'producer_id',
       'Cantonese', 'English', 'Hakka', 'Hokkien', 'Indigenous Language',
       'Japanese', 'Korean', 'Malay/Indo', 'Mandarin', 'Tamil/Hindi', 'Thai',
       'Vietnamese', 'Western'],
      dtype='object')

In [222]:
label_train_marge_target['composer_id'] = label_train_marge_target['composer_id'].astype(str)

#  DataFrame 保存為 Parquet 文件
label_train_marge_target.to_parquet('train_target.parquet', index=False)

In [221]:
label_train_source_marge['composer_id'] = label_train_source_marge['composer_id'].astype(str)

#  DataFrame 保存為 Parquet 文件
label_train_source_marge.to_parquet('train_marge.parquet', index=False)

In [ ]:
target = pd.read_parquet('label_test_source.parquet', engine='pyarrow')
meta_song_composer = pd.read_parquet('meta_song_composer.parquet', engine='pyarrow')

meta_song_composer_grouped = meta_song_composer.groupby('song_id')['composer_id'].agg(','.join).reset_index()
target_marge =  pd.merge(target, meta_song_composer_grouped, on='song_id', how='left')
target_marge = target_marge.sort_values(by='session_id')

meta_song_genre = pd.read_parquet('meta_song_genre.parquet', engine='pyarrow')
genre_id_to_name = {
    "5f2a134d2289a8a3de6663ee8e248c8a": "Soundtrack",
    "bb737ea7450c3abbab1ff613a2c6309e": "Hip-Hop/Rap",
    "d9ab2ffb929a854e208efaf5297b7cf8": "Jazz",
    "1d7c8bb87dcc1457ed90240c06f9ebdf": "Electronic/Dance",
    "7ed5eec2ea6f0208d27f78ef120e52fa": "Instrumental",
    "157479e86322e5063bce2488bec94d88": "Classical",
    "ed514a72b48a9d15df7bc4c25eac2c67": "World",
    "65aeeca3341ca1c6a2ed774aa4e22add": "Children",
    "74694a488312db91fcd56818fed8b3a6": "Oldies",
    "a3b51d979053a7f49511b9ab72ee8878": "Other",
    "5d7d428b81ab3429f189bbc642548b53": "Games/Comic/Anime",
    "1619db5683958ba19927468990d5ba44": "Lounge",
    "d36204de09c0c6084d55b1f484a23773": "Spiritual",
    "ee1696df08c0ac6005e3b9442cdbbded": "Religious",
    "abdc0a50aff67c591737bc6f57a36e09": "R&B/Soul",
    "1a619fcf3adfd91711699b7e2cf2c367": "Spoken Word",
    "2eabe9f164346c7b3ff1bd23078f483e": "Rock/Alternative",
    "03c358e326d99a3863e044c5d8e9fb50": "Blues",
    "09994f2b6bf22721e7379df4e22b1041": "Country",
    "d48233dd673e7ba524a5a0e3389d39b9": "Reggae",
    "a2a4a0943fe2c5fe6891d9c34dca906f": "Alternative",
    "c1d8909eff8a140e7bd0c11508f76dbe": "Folk",
    "b856b6781d370a3645c6dde0c20b3597": "Pop",
    "398e2d0befb1c6979e77e5ff7c3fcf07": "Holiday",
    "b5e874310bf96c3fe29c54a01b982ad7": "Enka",
    "23ae47469cc0a10de43c453ab59c87b4": "Christian/Gospel",
    "c3ad773a264597f9f46c2d666e1a8b50": "Audiobook",
    "5455e1699025b025a3523aba4719e818": "Audiobook-Children's & Teenage",
    "f6f02545c1905a8c72c5bf006579996e": "Audiobook-Education"
}

meta_song_genre['genre_id'] = meta_song_genre['genre_id'].map(genre_id_to_name)
# 對 genre_id 進行 one-hot 編碼
dummies = pd.get_dummies(meta_song_genre['genre_id'])

# 將 one-hot 編碼的結果與原始 DataFrame 合併
meta_song_genre_one_hot = pd.concat([meta_song_genre['song_id'], dummies], axis=1)

# 根據 song_id 聚合，將所有相同 song_id 的行的 one-hot 編碼值相加
meta_song_genre_grouped = meta_song_genre_one_hot.groupby('song_id').sum().reset_index()


target_marge = pd.merge(target_marge, meta_song_genre_grouped, on='song_id', how='left')
target_marge = target_marge.sort_values(by='session_id')


meta_song_lyricist = pd.read_parquet('meta_song_lyricist.parquet', engine='pyarrow')
meta_song_lyricist_grouped = meta_song_lyricist.groupby('song_id')['lyricist_id'].agg(','.join).reset_index()

target_marge = pd.merge(target_marge, meta_song_lyricist_grouped, on='song_id', how='left')
target_marge = target_marge.sort_values(by='session_id')

meta_song_producer = pd.read_parquet('meta_song_producer.parquet', engine='pyarrow')
meta_song_producer_grouped = meta_song_producer.groupby('song_id')['producer_id'].agg(','.join).reset_index()

target_marge = pd.merge(target_marge, meta_song_producer_grouped, on='song_id', how='left')
target_marge = target_marge.sort_values(by='session_id')

#沒有文字細節，這一個跳過
meta_song_titletext = pd.read_parquet('meta_song_titletext.parquet', engine='pyarrow')

meta_song = pd.read_parquet('meta_song.parquet', engine='pyarrow')
# 建立 language_id 到語言描述的映射字典
language_id_to_name = {
    3: "Mandarin",
    10: "Hokkien",
    17: "Japanese",
    24: "Cantonese",
    31: "Korean",
    38: "Tamil/Hindi",
    45: "Thai",
    52: "Western",
    59: "Malay/Indo",
    60: "Hakka",
    61: "Indigenous Language",
    62: "English",
    69: "Vietnamese"
}

# 使用 map 函數替換 language_id
meta_song['language_id'] = meta_song['language_id'].map(language_id_to_name)

dummies = pd.get_dummies(meta_song['language_id'])
# 將 one-hot 編碼的結果與原始 DataFrame 合併
meta_song_one_hot = pd.concat([meta_song['song_id'], dummies], axis=1)

# 根據 song_id 聚合，將所有相同 song_id 的行的 one-hot 編碼值相加
meta_song_one_hot_grouped = meta_song_one_hot.groupby('song_id').sum().reset_index()

target_marge = pd.merge(target_marge, meta_song_one_hot_grouped, on='song_id', how='left')
target_marge = target_marge.sort_values(by='session_id')

target_marge['composer_id'] = target_marge['composer_id'].astype(str)
#  DataFrame 保存為 Parquet 文件
target_marge.to_parquet('test.parquet', index=False)

In [4]:
import pandas as pd

把 target 讀進來

In [5]:
target_marge = pd.read_parquet("test.parquet")

In [6]:
label_train_target = pd.read_parquet("train_target.parquet")

In [7]:
label_train_marge = pd.read_parquet("train_marge.parquet")

In [8]:
label_train_marge = label_train_marge.fillna(0)

In [9]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

因為他的 id 是文字資料，所以我們需要把他做 encode !

In [10]:
label_train_marge['song_id_encoded'] = encoder.fit_transform(label_train_marge['song_id'])

In [11]:
label_train_target['song_id_encoded'] = encoder.fit_transform(label_train_target['song_id'])

In [16]:
target_marge['song_id_encoded'] = encoder.fit_transform(target_marge['song_id'])

轉成寬表

In [12]:
feature_columns = ['song_id_encoded', 'unix_played_at', 'play_status', 'login_type',
       'listening_order', 'Alternative', 'Audiobook',
       "Audiobook-Children's & Teenage", 'Audiobook-Education', 'Blues',
       'Children', 'Christian/Gospel', 'Classical', 'Country',
       'Electronic/Dance', 'Enka', 'Folk', 'Games/Comic/Anime', 'Hip-Hop/Rap',
       'Holiday', 'Instrumental', 'Jazz', 'Lounge', 'Oldies', 'Other', 'Pop',
       'R&B/Soul', 'Reggae', 'Religious', 'Rock/Alternative', 'Soundtrack',
       'Spiritual', 'Spoken Word', 'World',
       'Cantonese', 'English', 'Hakka', 'Hokkien', 'Indigenous Language',
       'Japanese', 'Korean', 'Malay/Indo', 'Mandarin', 'Tamil/Hindi', 'Thai',
       'Vietnamese', 'Western', 'song_id_encoded']

In [13]:
flattened_features = []
for session_id, group in label_train_marge.groupby('session_id'):
    flattened_row = group[feature_columns].values.flatten()
    flattened_features.append(flattened_row)

In [14]:
feature_target_columns = ['song_id_encoded']

In [15]:
flattened_target_features = []
for session_id, group in label_train_target.groupby('session_id'):
    flattened_row = group[feature_target_columns].values.flatten()
    flattened_target_features.append(flattened_row)

In [27]:
target_features = []
for session_id, group in target_marge.groupby('session_id'):
    flattened_row = group[feature_columns].values.flatten()
    target_features.append(flattened_row)

In [35]:
print(len(flattened_features), len(flattened_target_features))

572259 572259

In [18]:
flattened_features_df  = pd.DataFrame(flattened_features)

In [19]:
flattened_target_features_df  = pd.DataFrame(flattened_target_features)

In [28]:
target_features_df  = pd.DataFrame(target_features)

In [38]:
print(len(flattened_features_df), len(flattened_target_features_df))

572259 572259

In [30]:
flattened_features_df

,0,1,2,3,4,5,6,7,8,9,...,950,951,952,953,954,955,956,957,958,959
0,73571.0,1.660016e+09,0.0,7.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,109434.0
1,219549.0,1.661342e+09,1.0,7.0,6.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,443298.0
2,114740.0,1.663977e+09,1.0,7.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,313155.0
3,219286.0,1.660137e+09,1.0,56.0,5.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,259818.0
4,534936.0,1.660305e+09,1.0,7.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,490982.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572254,350335.0,1.664821e+09,3.0,8.0,16.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,601382.0
572255,433350.0,1.660759e+09,3.0,7.0,20.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,395220.0
572256,33278.0,1.666236e+09,2.0,8.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,402297.0
572257,532135.0,1.664925e+09,2.0,7.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,493717.0
572258,637113.0,1.664705e+09,0.0,7.0,10.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,146020.0

In [21]:
from sklearn.svm import SVR
from sklearn.multioutput import MultiOutputRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [40]:
flattened_target_features_df

             0       1       2       3       4
0       243821   22841  294176   47751    1399
1       122868   35198  326023  178483  282056
2       107890  184548  295765  221784  270421
3       338932  311287  338932  338932  311287
4       210603  210603  246733  337032  337032
...        ...     ...     ...     ...     ...
572254   83055  127606  115814   81482  220797
572255  336063  268458  303815  336063  248101
572256   52410    2449  235589  232259  139295
572257  233871  332116  268031  287276  287276
572258  106718  139174  124525  295197   14448

[572259 rows x 5 columns]

In [22]:
X = flattened_features_df
y = flattened_target_features_df
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
svm = SVR()

In [31]:
multi_target_svm = MultiOutputRegressor(svm)

In [32]:
multi_target_svm.fit(X_train, y_train)

In [ ]:
y_pred = multi_target_svm.predict(target_features_df)

In [ ]:
y_pred_labels = [encoder.inverse_transform(y_pred[:, i]) for i in range(y_pred.shape[1])]

In [ ]:
# 將 y_pred 轉換為 DataFrame
y_pred_df = pd.DataFrame(y_pred_labels, columns=['Prediction1', 'Prediction2', 'Prediction3', 'Prediction4', 'Prediction5'])

# 指定要保存的文件路徑
file_path = 'predictions.csv'

# 將 DataFrame 保存為 CSV 文件
y_pred_df.to_csv(file_path, index=False)